extends layout

block content
  h1=title
  h2 create importer
  form(action="/customer/createImporter", method="post")
    input(type="text", name="company" placeholder='company')
    input(type="text", name="linkman" placeholder='linkman')
    input(type='text', name='tel' placeholder='tel')
    input(type='text', name='address' placeholder='address')
    input(type="submit", value="go")
  h2 get importer
  form(action="/customer/getImporter", method="get")
    input(type="text", name="linkman" placeholder='linkman')
    input(type="submit", value="go")
  h2 create exporter
  form(action="/customer/createExporter", method="post")
    input(type="text", name="company" placeholder='company')
    input(type="text", name="linkman" placeholder='linkman')
    input(type='text', name='tel' placeholder='tel')
    input(type='text', name='address' placeholder='address')
    input(type="submit", value="go")
  h2 get exporter
  form(action="/customer/getExporter", method="get")
    input(type="text", name="" placeholder='linkman')
    input(type="submit", value="go")