extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 创建商品
  form(action="/createCommodity", method="post")
    label name
    input(type="text", name="name")
    label model
    input(type="text", name="model")
    label brand
    input(type="text", name="brand")
    label number
    input(type="number", name="number")
    label unit
    input(type="text", name="unit")
    label price
    input(type="number", name="price")
    label totalPrice
    input(type="number", name="totalPrice")
    label retail
    input(type="number", name="retail")
    label source
    input(type="text", name="source")
    label remarks
    input(type="text", name="remarks")
    p
      input(type="submit", value="go")
  p 
  h1 获取商品列表
  form(action="/getCommodity", method="get")
    input(type="text", name="name" placeholder='名称')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="number", value=1 name="pageCurrent", placeholder='pageCurrent')
    input(type="number", value=10 name="pageSize",placeholder='pageSize')
    input(type="submit", value="go")
  h1 更新数据
  form(action="/updateCommodity", method="post")
    input(type="text", name="_id", placeholder="_id")
    label name
    input(type="text", name="name")
    label model
    input(type="text", name="model")
    label brand
    input(type="text", name="brand")
    label number
    input(type="number", name="number")
    label unit
    input(type="text", name="unit")
    label totalPrice
    input(type="number", name="totalPrice")
    label retail
    input(type="number", name="retail")
    label source
    input(type="text", name="source")
    label remarks
    input(type="text", name="remarks")
    p
      button(type="submit") submit

