extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 创建商品
  form(action="/createCommodity", method="post")
    label user_id
    input(type="text", name="user_id")
    label name
    input(type="text", name="name")
    label model
    input(type="text", name="model")
    label brand
    input(type="text", name="brand")
    label number
    input(type="number", name="number")
    label unit
    input(type="text", name="unit")
    label price
    input(type="number", name="price")
    label totalPrice
    input(type="number", name="totalPrice")
    label MSRP
    input(type="number", name="MSRP")
    label TMSRP
    input(type="number", name="TMSRP")
    label remarks
    input(type="text", name="remarks")
    label(for="") from
    input(type="text", name="from")
    input(type="submit", value="go")
  h1 获取商品列表
  form(action="/getCommodity", method="get")
    input(type="text", name="user_id")
    input(type="text", name="name" placeholder='名称')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="number", value=1 name="pageCurrent", placeholder='pageCurrent')
    input(type="number", value=10 name="pageSize",placeholder='pageSize')
    input(type="submit", value="go")
  h1 商品售出
  form(action="/updateCommodity", method="post")
    input(type="text", name="ID", placeholder="_id")
    label name
    input(type="text", name="name")
    label model
    input(type="text", name="model")
    label brand
    input(type="text", name="brand")
    label number
    input(type="number", name="number")
    label unit
    input(type="text", name="unit")
    label MSRP
    input(type="number", name="MSRP")
    label TMSRP
    input(type="number", name="TMSRP")
    label price
    input(type="number", name="price")
    label totalPrice
    input(type="number", name="totalPrice")
    label remarks
    input(type="text", name="remarks")
    label(for="") to
    input(type="text",name='to')
    p
      button(type="submit") submit
  h5 提交文件1
  form(action="/aaa", method="post" enctype="multipart/form-data")
    input(type="file", name="file")
    input(type="submit", value="go")
  div
    h5 提交文件2
    input#file2(type="file", name="file2" onchange='change()')
    button#upLoad(type="submit" onclick="up()") ok
  script(src="/js/index.js")
  script.
    