doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    a(href="/stock") stock
    a(href="/upload") ,upload
    a(href="/customer") ,custom
    block content
