extends layout

block content
  h1 sell 出售
  form(action="/sell/sellCommodity", method="post")
    input(type="text", name="name",placeholder='name')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="text", name="unit" placeholder='unit')
    input(type="text", name="number" placeholder='number')
    input(type="text", name="price" placeholder='price')
    input(type="text", name="totalPrice" placeholder='totalPrice')
    input(type="text", name="retail" placeholder='retail')
    input(type="text", name="totalRetail" placeholder='totalRetail')
    input(type="text", name="to" placeholder='to')
    input(type="text", name="remarks" placeholder='remarks')
    input(type="submit", value="go")
    