extends layout

block content
  h1=title
  h2 get All
  form(action="/stock/queryCondition", method="get")
    input(type="text", name="name" placeholder='name')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="text", name="currentPage" placeholder='currentPage' )
    input(type="submit", value="go")
  h2 createModel
  form(action="/stock/createModel", method="post")
    input(type="text", name="name" placeholder='name')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="submit", value="go")
  h2 searchOne
  form(action="/stock/searchOne", method="get")
    input(type="text", name="_id" placeholder='_id')
    input(type="submit", value="go")
  h2 purchase
  form(action="/stock/purchase", method="post")
    input(type="text", name="name" placeholder='name')
    input(type="text", name="model" placeholder='model')
    input(type="text", name="brand" placeholder='brand')
    input(type="number", name="surplusNumber" placeholder='surplusNumber')
    input(type="number", name="totalNumber" placeholder='totalNumber')
    input(type="number", name="price" placeholder='price')
    input(type="number", name="totalPrice" placeholder='totalPrice')
    input(type="text", name="importer_id" placeholder='importer_id')
    input(type="submit", value="go")
  h2 sell
  form(action="/stock/sell", method="post")
    input(type="text", name="stock_id" placeholder='stock_id')
    input(type="number", name="sellNumber" placeholder='sellNumber')  
    input(type="number", name="surplusNumber" placeholder='surplusNumber')
    input(type="number", name="retail" placeholder='retail')
    input(type="number", name="totalRetail" placeholder='totalRetail')
    input(type="text", name="exporter_id" placeholder='exporter_id')
    input(type="submit", value="go")

