extends layout
block content

  h5 提交文件1
  form(action="/aaa", method="post" enctype="multipart/form-data")
    input(type="file", name="file")
    input(type="submit", value="go")
  div
    h5 提交文件2
    input#file2(type="file", name="file2" onchange='change()')
    button#upLoad(type="submit" onclick="up()") ok
  script(src="/js/upload.js")